* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
 
body {
  font-family:oswald, helvetica, arial, sans-serif;
  background-size:cover;
  background-attachment: fixed;
  background-position:0 0px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h3 {
  font-family: 'Andika', sans-serif;
  color: white;
  margin: 0 0 2px 0;
}

h3 {
  padding-bottom: 80px;
}

ul>li div {
  font-size: 28px;
}

ul>li p {
  background-color: white;
}

ul #studies {
  background-color: white;
  padding: 10px 30px 5px 30px;
  font-size: 25px;
  -webkit-transition-: ease-out .8s;
  -moz-transition-: ease-out .8s;
  -o-transition-: ease-out .8s;
  transition-: ease-out .8s;
}

ul #studies:hover {
  background-color: #eaeaea;
  padding: 10px 30px 5px 30px;
  font-size: 25px;
  -webkit-transition-: ease-in 1s;
  -moz-transition-: ease-in 1s;
  -o-transition-: ease-in 1s;
  transition-: ease-in 1s;
}


.contenedor {
  width: 90%;
  max-width:1000px;
  margin:auto;
}

.container h2 {
  color: white;
}

#particles-js {
  width: 100%;
  height:100%;
  position: fixed;
}

#about-me {
  position: relative;
  z-index: 1;
}

#content {
  font-size: 25px;
  font-style: justify;
}

#content-develop {
  font-size: 25px;
  font-style: justify;
  padding-bottom: 68px;
}

#content-me {
  background-color: #f9f9f9;
}

#learn {
  position: relative;
  z-index: 1;
}

#title-black {
  color: #212121;
}

.title, h4 {
  text-align: center;
}

.teal {
  background-color: #fff !important;
}

header {
  /* position: relative;*/
  text-align: center;
}

nav ul>li a {
  color: black;
  font-size: 20px;
}

a span {
  font-size: 29px;
}

span ul>li {
  font-size: 28px;
}

#title-card {
  font-size: 30px;
}

/* blik animation for _ in the title */

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
  -moz-animation: blink 1s step-start 0s infinite;
  -o-animation: blink 1s step-start 0s infinite;
  animation: blink 1s step-start 0s infinite;
}

#logo {
  color: black;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  padding-left: 20px;
  -webkit-transition-: ease-out .8s;
  -moz-transition-: ease-out .8s;
  -o-transition-: ease-out .8s;
  transition-: ease-out .8s;
}


#logo:hover {
  color: #494949;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  padding-left: 20px;
}

#second-nav-title {
  display: none;
}

.header-image {
  padding-top: 80px;
}
 
.header-image img {
    border: 5px solid #fff;
    border-radius: 100%;
    height: 200px;
    width: auto;
    position: relative;
    z-index: 1;
    -webkit-filter: contrast(1.4); /* 1.5 = 150% */
    -moz-filter: contrast(1.4); /* 1.5 = 150% */
    -o-filter: contrast(1.4); /* 1.5 = 150% */
    filter: contrast(1.4); /* 1.5 = 150% */
    -webkit-transition: ease-out .9s;
    -moz-transition: ease-out .9s;
    -o-transition: ease-out .9s;
    transition: ease-out .9s;
}

.header-image img:hover {
    border: 5px solid black;
    border-radius: 100%;
    height: 200px;
    width: auto;
    -webkit-filter: contrast(1.6); /* 1.5 = 150% */
    -moz-filter: contrast(1.6); /* 1.5 = 150% */
    -o-filter: contrast(1.6); /* 1.5 = 150% */
    filter: contrast(1.6); /* 1.5 = 150% */
    -webkit-transition: ease-in 1.2s;
    -moz-transition: ease-in 1.2s;
    -o-transition: ease-in 1.2s;
    
    transition: ease-in 1.2s;
}

.header-description {
  padding: 
}

.indigo.darken-4, .blue {
    background-color: #0b1621 !important;
}

#card-title-span {
  font-size: 30px;
 }

#card-title-span p {
  font-size: 30px;
 }

.card .card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
    font-size: 20px;
}

#card-content-portafolio {
  font-size: 20px;
  padding-top: 25px;
}

#contact {
  width: 30%;
}

#contact ul {
  text-align: center;
}

/* footer */

footer {
  position: relative;
  z-index: 1;
}

#social-networks {
  font-size: 22px;
}

#fbk {
  color: #3b5998;
}

#twitter {
  color: #1da1f2;
}

#linkedin {
  color: #1985bc;
}

#gitlab {
  color: #e24329;
}

footer p {
  font-size: 20px;
}

.nav-info a {
  font-size: 19px;
}

/* Button go up */


.go-up {
  display: none;
}


.red {
  background-color: #3b5998 !important;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.red:hover {
  -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

.medium {
  font-size: 40px !important;
  color: white;
}

.footer-copyright {
  font-size: 18px !important;
}

/* responsive design */

@media screen and (max-width: 993px) {
  #menu-button {
    color: black !important;
    padding-left: 10px;
  }

    .red {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  #contact {
    width: 50%;
  }

  .name {
    font-size: 27px;
  }
  .email {
    font-size: 24px;
  }

}

@media screen and (max-width: 540px) {
  #contact {
    width: 80%;
  }
   .name {
    font-size: 23px;
  }
  .email {
    font-size: 18px;
  }
}

@media screen and (max-width: 437px) {
  .header-description h1 {
      font-size: 40px;
      padding-top: 15px;
  }
   .header-description h3 {
      font-size: 27px;
      padding-top: 10px;
      padding-bottom: 45px;
  }
  #logo {
    display: none;
  }
  #second-nav-title {
    display: inline-block;
    color: black;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 25px;
    padding-left: 20px;
    -webkit-transition-: ease-out .8s;
    -moz-transition-: ease-out .8s;
    -o-transition-: ease-out .8s;
    transition-: ease-out .8s;
}


#second-nav-title:hover {
  color: #494949;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  padding-left: 20px;
 }
}
